**/calib/
**/image_2/
**/label_2/
**/velodyne/
**/3DOP_splits/
**/cropped.json
**/__pycache__/
**/paper/*/
*.tex
*.log
**/__pycache__/
**/*.bcf-SAVE-ERROR
**/*.bbl-SAVE-ERROR
**/out/
**/tmp/
**/_build/
**/_static/
*/.VSCodeCounter/
*/.ipynb_checkppoints/
**/__pycache__/
*/.VSCodeCounter/
**/.ipynb_checkpoints/